* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}
.bg-black {
    background-color: black;
}
.color-white {
    color: white;
}
header {
    height: 70px;
    padding: 0 50px;
}

/* header left */
.header-left {
    float: left;
}
.header-left  ul,
.header-right > ul {
    display: flex;
    list-style: none;
    height: 70px;
    line-height: 70px;
}
.header-left  ul li,
.header-right > ul li {
    margin-left: 20px;
}
.header-left ul li a,
.header-right > ul li a {
    text-decoration: none;
    color: lightgrey;
}
.color-black {
    color: black;
}
.header-left ul li a:hover,
.header-right > ul li a:hover {
    color: black;
}



/* header right */
.header-right {
    float: right;
    position: relative;
}
.header-right button {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

}
.header-right button:focus {
    outline: 0;
}

/* dropdown */
.header-right .dropdown {
    display: none;
    position: absolute;
    right: 0;
    width: 600px;
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .2);
}
.header-right .dropdown.active {
    display: block;
}
.header-right .dropdown .col {
    float: left;
    width: calc(100% / 4);
    height: 100%;
}
.header-right .dropdown .col ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    list-style: none;
}
.header-right .dropdown .col ul li .fa-react {
    font-size: 25px;
}
.header-right .dropdown ul {
    list-style: none;
}
